
.main {
	position: absolute;
	top: 0;
	left: 50%;
	transform: translateX(-50%);
}

.layui-container {
	top: -100px;
}

canvas {
	cursor: crosshair;
	display: block;
	z-index: -1;
}

table {
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
}

table th {
	font-size: 12px;
}

#content {
	top: -300px;
}

#content div ul {
	text-align: center;
}

div i {
	color: #FFFFFF;
	letter-spacing: 2px;
	line-height: 20px;
	text-indent: 4em;
	font-size: 15px;
}

.layui-tab-item p {
	font-family: 微软雅黑;
	font-size: 18px;
	letter-spacing: 2px;
	line-height: 30px;
	text-indent: 2em;
}



